body {
  text-align: center;
  background: black;
  color: white;
  font-family: Arial;
}

#array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  margin-top: 20px;
}

.bar {
  width: 8px;
  margin: 1px;
  background: cyan;
}
