body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

h1 {
  margin-top: 20px;
}

input, button {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

button {
  background: #22c55e;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
  background: #16a34a;
}

#array {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 400px;
  margin-top: 30px;
  border: 1px solid #334155;
  overflow: hidden; /* 🔥 prevents overflow */
}

.bar {
  width: 18px;
  margin: 2px;
  background: cyan;
  text-align: center;
  font-size: 12px;
  color: black;
}

#status {
  font-size: 20px;
  margin-top: 15px;
  color: yellow;
}

#timer {
  font-size: 18px;
  margin-top: 5px;
  color: cyan;
}
